<p>Self talk - Talk to yourself as councellor-patient(alice-bob) </p>

<ng-container *ngFor="let msg of messages">
<p>
  <span class="person">{{person1}}: </span>
  <span>{{msg.alice}}</span>
</p>
<p *ngIf='msg.isComplete'>
  <span class="person">{{person2}}: </span>
  <span>{{msg.bob}}</span>
</p>
</ng-container>

<div class="talk-bar">
  <span class="person">
      {{messages.length === 0 || messages[messages.length-1].isComplete ? person1 : person2 }}
  </span>
  <input type="text" (keydown)="keydown($event)" #MyWords >
  <button type="button" (click)='addToConversation(MyWords.value)'>Say It</button>
</div>