.main {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .header {
        display: flex;
        justify-content: space-between;
        p {
            font-size: 1.5em;
            font-family: cursive;
            margin: 0;
        }
    }


    .conversations {
        flex: 1;
        overflow-y: auto;

        .message-row {
            display: flex;
            margin: .5em;
        }
    }
}

.person {
    font-weight: bold;
}

.message {
    white-space: pre-wrap;
    padding-left: .5em;
}

.talk-bar {
    display:flex;
    margin: 1em 0 1em 0;
    box-sizing: border-box; 
    width: 100%;

    textarea {
        flex: 1;
        max-height: 4em;
    }

    span {
        padding:  0 1em 0 .5em;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    button {
        margin:   0 0 0 1em;
        padding:  0 1em 0 1em;
    }
}

.conversation-group {
    border: solid thin skyblue;
    margin: 1em 0 1em 0;
    border-radius: .6em;
}